:root {
    --heading-background-color: #E63946;
    --heading-text-color: #A8DADC;
    --accent-color-1: #f4faf1;
    --accent-color-2: #1D3557;
}
header{
    background-color: var(--heading-background-color);
    color: var(--heading-text-color);
    padding: 20px;
}
.hero img{
    display: block;
    width: 100%;
    height: auto;
}
